.profile__activity {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

@media screen and (max-width:768px) {
  .profile__activity {
    max-width: 282px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}